# üîé Exploratory Data Analysis (EDA)

## üìù Introducci√≥n

El An√°lisis Exploratorio de Datos (EDA) es un paso fundamental en cualquier proyecto de ciencia de datos, ya que nos permite comprender mejor la estructura, las relaciones y los patrones presentes en los datos antes de realizar cualquier modelado o an√°lisis avanzado.

En este proyecto, trabajaremos con dos conjuntos de datos principales:

1. **üíì Cardio Train Dataset**: Este conjunto de datos contiene informaci√≥n sobre diferentes indicadores de salud de personas, como edad, g√©nero, altura, peso, presi√≥n arterial, colesterol, entre otros. El objetivo es explorar estos datos para identificar posibles correlaciones y patrones que puedan ser √∫tiles para predecir enfermedades cardiovasculares.

2. **üïäÔ∏è Cause of Deaths Dataset**: Este conjunto de datos proporciona informaci√≥n sobre las principales causas de muerte a nivel global, desglosadas por pa√≠s y a√±o. Exploraremos este dataset para entender la distribuci√≥n de las causas de muerte en diferentes regiones y per√≠odos de tiempo, as√≠ como identificar cualquier tendencia o anomal√≠a significativa.

### üéØ Objetivos del EDA

- **üìä Entender la Distribuci√≥n de Datos**: Analizar la distribuci√≥n de las variables individuales para identificar valores at√≠picos, faltantes, y entender la naturaleza de los datos.
- **üîó Explorar Relaciones entre Variables**: Investigar posibles correlaciones entre diferentes variables que podr√≠an ser √∫tiles para modelado posterior.
- **üîç Identificar Patrones y Tendencias**: Buscar patrones y tendencias en los datos que podr√≠an revelar informaci√≥n relevante para los objetivos del proyecto.
- **üõ†Ô∏è Preparaci√≥n de Datos**: Realizar las transformaciones necesarias para limpiar y preparar los datos para el an√°lisis y modelado.

### üõ†Ô∏è Metodolog√≠a

1. üì• **Carga de Datos**: Importar y cargar los datasets en un entorno de an√°lisis.
2. üìä **Resumen Estad√≠stico**: Obtener un resumen estad√≠stico b√°sico de las variables en los datasets.
3. üìà **Visualizaci√≥n de Datos**: Utilizar gr√°ficos para visualizar la distribuci√≥n de las variables y las relaciones entre ellas.
4. üîç **Detecci√≥n de Valores At√≠picos y Datos Faltantes**: Identificar y manejar valores at√≠picos y datos faltantes que puedan afectar el an√°lisis.
5. üîó **An√°lisis de Correlaciones**: Examinar las correlaciones entre variables para identificar posibles relaciones que podr√≠an ser √∫tiles en modelos predictivos.

## üì• Carga de datos

In [1]:
import sys
import os
from dotenv import load_dotenv

load_dotenv()
work_dir = os.getenv('WORK_DIR')


sys.path.append(work_dir)

In [2]:
from src.model.models import CardioTrain
from src.database.dbconnection import getconnection

In [3]:
from sqlalchemy.orm import sessionmaker, declarative_base, aliased
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
engine = getconnection()
Session = sessionmaker(bind=engine)
session = Session()

Conected successfully to database proyect!

In [5]:
table = aliased(CardioTrain)
query = session.query(table).statement
df = pd.read_sql(query, engine, index_col=None)

## üìä Resumen Estad√≠stico

In [6]:
df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

## üìà Visualizaci√≥n de Datos

## üîç Detecci√≥n de Valores At√≠picos y Datos Faltantes

## üîó An√°lisis de Correlaciones